<h1>User Page</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @user.admin == true %>
<%= "ADMIN" %>
<% end %>

Name: <%= @user.name %>
Mood: <%= @user.mood %>
Tickets: <%= @user.tickets %>
Height: <%= @user.height %>


<%= link_to 'Log Out', signout_path %>
<%= link_to 'See attractions', attractions_path %>
